@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.act_main_container{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.act_container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.act_text { 
    width: 40%;
    justify-content: left;
}

.act_text p {
    margin-top: 30px;
}

.act_text h2 {
    font-weight: 800;
}

.act_container .button-primary{
    width: 60% !important;
    margin-top: 50px;
}

.act_image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
