
  .card_cont {
    width: 450px;
    background-color: #9AC9FB;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid #0038FF ;
  }
  
  .card_image_cont {
    width: 50%;
    align-items: center;
  }

  .card_img {
    height: 80%;
    width: 80%;
    border-radius: 5%;
    margin: 25px 15px;
  }


  .card_text {
    font-size: 0.8rem;
    width: 50%;
  }

  .card_btn {
    background-color: #0038FF;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    width: 150px;
    text-decoration: none;
  }
  
