
/* label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
  }
  
  input + label {
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea,
  select {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control {
    margin-bottom: 2em;
  }
  
  .error {
    color: red;
    float: top;
  }
  .submit_btn{
    width: 100%;
    height: 3em;
    background-color: #DB5752;
    color: white;
    font-weight: bold;
  }
.Half_div {
    margin-top: 10em;
    width: 50%;
    float: left;
    height: 47em;
}
.Main_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.RegistrationForm{
    display: inline-block;
    margin: 3em;
}
body {
    text-align: center;
}
h1{
    font-size: 350%;
    margin-top: 0;
    text-align: center;
}
p{
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) { 
    .Main_img{
        display: none;
        visibility: hidden;
    } 
    .RegistrationForm{
        font-size: small;
        margin: 0%;
        padding: 0%;
    }
    .Half_div{
        width: 99%;
        margin: 0%;
        padding: 1%;
        height: fit-content;
    }
} */