.inputs_container{
  width: 100%;
  display: grid;
  gap: 6px;
}

.Inputs_label{
    width: 100%;

    position: relative;
}
  
  .label_contact {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    color: rgb(143, 143, 143);
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
    background-color:  #ffff ;
  }

  .input_contact{
    border-radius: 5px;
    width: 90%;
    padding: 18px 15px;
    font-size: 18px ;

    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.06);

    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .input_contact_check{

    border: 1px solid gray;
  }
  

  .input_contact_error{
     border: 2px solid  rgb(148, 24, 24);

  }
  .input_contact_error:focus{

     border: 2px solid  rgb(148, 24, 24);

  }

  .input_contact:focus ~ .label_contact,
  .input_contact:not(:placeholder-shown).input_contact:not(:focus) ~ .label_contact
  {
    top: -0.6rem;
    font-size: 0.9rem;
    left: 0.8rem;
  
  }