/* GENERAL */


/* TITULO */
.contactTitle {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 575;

}

/* INPUTS */
.contactInput {
    width: 70%;
}

.contactText {
    width: 70%;
    padding-bottom: 200px;
}

/* BUTTON */
.contactBtn {
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border-width: 0;
    border-style: none;
    height: 30px;
}