@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* GENERAL INFO */
.aboutSection {
    margin-top: 100px;
    width: 90%;
}

/* TITLE */
.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutTitle {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}


/* CLICKED MEMBER */
.clickedMemberContainer {
    width: 100%;
    margin-bottom: 50px;
    height: 80vh;
    
}

.clickedMemberAndBtn {
    width: 40%;
    float: left;
}

.clickedMemberAndBtn p {
   margin-top: 50px;
}

.clickedMemberName {
    font-size: 3rem;
    padding-top: 10px;
}

.serParteBtn {
    width: 300px;
    font-size: 1.8rem;
    background-color: #d3241e;
    color: #fff;
    border: none;
    height: 60px;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 100px;
}

.serParteBtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clickedMemberCard {
  height: 500px;
  width: 500px;
  float: right;
}

.div_main {
    margin-top: 100px;
    justify-content: center;
}

.aboutcard_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
}

.btn-AU {
    width: 300px;
    margin: 50px 0px 100px 130px;
    font-size: 1.8rem;
    background-color: #d3241e;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-AU:hover {
    box-shadow: 5px 5px 20px #000   ;
    transform: translateY(-1%);
}


/* ALL MEMBERS */
.memberCardContainer {
    width: 20%;
    padding-right: 1%;
}

.memberCardContainer a {
    text-decoration: none;
}

.MV_container {
    display: flex;
    margin-top: 50px;
}

/* RESPONSIVE */
@media all and (max-width: 1000px) {
  .memberCardContainer {
    width: 25%;
    padding-right: 1%;
  }

}

@media all and (max-width: 800px) {
    .clickedMemberName {
        font-size: 1.5em;
        height: 315px;
    }
    
    .serParteBtn {
        width: 100%;
        font-size: 1.5rem;
    }

    .clickedMemberCard {
        height: 350px;
        width: 50%;

    }

    .memberCardContainer {
      width: 33%;
      padding-right: 1%;
    } 

}

@media all and (max-width: 640px) {
    .clickedMemberName {
        font-size: 1.2em;
        height: 325px;

    }
    
    .serParteBtn {
        width: 100%;
        font-size: 1rem;
    }

    .clickedMemberCard {
        height: 350px;
        width: 50%;

    }


    .memberCardContainer {
      width: 50%;
    }  
}

@media all and (max-width: 417px) {
    .clickedMemberName {
        height: 305px;
    }

}