    /*  HEADER  */
    .header {
      display: flex;
      flex-direction: row;
      background-color: white;
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 70px;
      left: 0;
      top: 0;
      align-items: center;
      justify-content:space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-right: 10px;

      
  }

  .active {

    padding: 1rem;
  }

  
  
      /*  logo  */
  .img-header {
      height: 110px;
      width: 110px;
      margin: 0;
      padding: 0;
      
  }
  
  
      /*  nav  */
  .ul-header {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      font-size: 1.25em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .li-header {
      margin-left: 25px;
      margin: 0;
      height: 20px;
      text-decoration: none;
  }
  li .active {
    color: #fe1d1deb;
    font-weight: bold;
}

.linke {
    text-decoration: none;
    color: #000
}
.linke:hover {
    color: #DB5752
}
  .navItem {
      text-decoration: none;
      color: black;
      margin-right: 20px;
  }
  .navItem:hover {
      color: #DB5752;
  }
  .navBtn {
      border-width: 0.1em;
      font-size: 0.8em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 30px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 15px;
  }
  .navLoginBtn {
      background-color:white;
      color: black;
      border-color: black;
  }
  .navLoginBtn:hover {
      background-color:#DB5752;
      color: white;
      border-color: white;
  }
  
  .navRegisBtn {
      background-color:#DB5752;
      color: white;
      border: none;
  }
  .navRegisBtn:hover {
      background-color:white;
      color: #DB5752;
      border-color: #DB5752;
  }
  
      /* Menu Hamburguesa */
  .hamburger {
      display: none;
  }



  .user_data {
    display: flex;
    background-color: #db565254;
    border-radius: 15px 20px 20px 15px;
    padding-left: 5px;
  }

  .user_data p {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 14px;
  }

  .user_avatar {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-size: cover;
  }
  
  
      /* QUERY DE TAMAÑO DE PANTALLA */
  @media all and (max-width: 1270px) {
      .hamburger {
          display:flex;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 10px;
          height: 50px;
  
      }
      .mobileMenuOn {
          background-color: white;
          z-index: 100;
          position: absolute;
          top: 69px;
          left: 0;
          width: 100%;
          height: 90vh;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          transition: 0.5s all ease; 
  
      }
      .mobileMenuOff {
          background-color: grey;
          z-index: 100;
          position: absolute;
          top: 69px;
          left: -100%;
          width: 100%;
          height: 90vh;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          transition: 0.5s all ease; 
      }
      .li-header {
          margin-bottom: 10px;
      }
  }
      /*  BODY  */
  .texto {
      margin-top: 80px;
  }
/* Margin top de la app general para no superponer el header */
.general {
    margin-top: 70px;
}