@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.main_container{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.welcome_container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.welcome_text { 
    width: 40%;
}

.welcome_text p {
    margin-top: 30px;
}

.welcome_text h1 {
    font-weight: 800;
}

.button-primary{
    width: 35% !important;
}

.welcome_img {
    width: 400px;
    height: 400px;
    border-radius: 5%;
}

.titles_container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    height: 50px;
}

.titles_container Link {
    text-decoration: none;
    color: #000;
}

.titles_container h2 {
    font-weight: bold;
    width: 70%;
}
.card_container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: left;
    height: 270px;
    width: 70%;
    margin-left: 50px;
}

.card_container h5 {
    visibility: hidden;
}

.news_cards {
    display: flex;
    margin-right: 50px;
}

