.main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 70px;
}

.main_container input{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #fff;
  outline: none;
  margin-bottom: 30px;
}

.focus_error{
  border: 1px solid #ff0000;
}

.form{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.activityName{
  position: relative;
  font-size: 1rem;
  height: auto;
  min-width: 80%;
  text-align: center;
}

.error{
  color: red;
  font-size: 0.8rem;
}