@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.card{
    width: 250px;
    min-height: 250px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 500ms ease-out;
    cursor: default;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}


.card_text {
    color: #fff;
    position: relative;
    top: 180px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    background-color: rgba(0, 0, 0, 0.444);
}

.card_text h5 {
    font-size: 1.7rem;
}