.form{
    width: 100%;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.dont_have_account{
    font-weight: 500;
    font-size: 20px;

    text-align: center;
}

.dont_have_account span{
    font-weight: 700;
    color: #DB5752;
}
.dont_have_account span:hover{
    font-weight: 1000;
    color: #570705;
    cursor: pointer;
}